

body {
    font-family: 'Roboto Condensed', sans-serif;
    background: rgb(215,211,204) url(img/bg.jpg);
    color: #222;            /* Foreground color used for text */
    font-size: 18px;
    margin: 0;              /* Amount of negative space around the 
                               outside of the body */
    padding: 0;             /* Amount of negative space around the 
                               inside of the body */
}
.wrap {
width: 100%;
position: relative;	
	}
#drive{
	margin: 10px 10px 0px 10px;
	position: relative;
	}


#header{
	width: 100%;
	text-align: center;
	margin: 5px auto; 
	display: block;
	}
#news{
	width: 100%;
	text-align: center;
	margin: 5px auto 10px; 
	}

select {
	background: rgb(215,211,204);
    font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	}
	
.line-separator{
	height:1px;
	background:#717171;
	border-bottom:1px solid #313030;
	width: 95%;
	margin: 20px auto 20px;
}

a{
	color: royalblue;
	}
	
.line{
   height: 50px;
   vertical-align: middle;	
}

img{
    vertical-align:middle;
    margin-right: 5px;	
	}
	
div #from{ 
    display: block;
    width: 100%;
		}
		
#to{
    display: block;
    width: 100%;
		} 
		
#end_date{
    display: block;
    width: 100%;
		}

#start_date{
    display: block;
    width: 100%;
	}

#car{
    display: block;
    width: 100%;
	}
		
	